.Rproj.user
.Rhistory
.Rdata
.Rbuildignore
.Ruserdata
config.txt

doc/manuscript/manuscript\.pdf
doc/manuscript/manuscript\.tex
doc/RMD/cache/

doc/RMD/*.nb.html


results/

data/caplist1\.rds

data/caplist2\.rds

data/clean_data\.csv

data/heterothallic-pairings\.rda

data/mcg-mlg-graph\.rda

data/mlg-crosspop-graph\.rda

data/raw_data\.csv

data/sclerotinia_16_loci\.rda

doc/manuscript/\.manuscript\.Rmd\.un~

doc/manuscript/manuscript\.log

doc/manuscript/manuscript\.Rmd~

doc/RMD/\.02\.Rmd\.un~

doc/RMD/\.03\.Rmd\.un~

doc/RMD/02\.Rmd~

doc/RMD/03\.Rmd~

doc/RMD/02\.pdf
